In [1]:
import pandas as pd
import numpy as np

from xgboost import XGBRegressor

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("../Licencjat/licencjat.csv", delimiter=";")

C:\Users\Ester\AppData\Local\Temp\ipykernel_388\452193696.py:1: DtypeWarning: Columns (21,95,107) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../Licencjat/licencjat.csv", delimiter=";")

In [3]:
data = data[[
    "country", "age", "isced1997_r", "mar_stat", "hhsize", "partnerinhh", "ch001_", "sphus",
    "chronic_mod", "eurod",
    "co007_", "thinc_m", "income_pct_w6", "wave"
]]

In [4]:
data.head()

,country,age,isced1997_r,mar_stat,hhsize,partnerinhh,ch001_,sphus,chronic_mod,eurod,co007_,thinc_m,income_pct_w8,wave
0,11,"51,9000015258789",3,1,2,1,4,1,0,0,2,"28721,849609375",-13,1
1,11,"54,7000007629395",3,1,2,1,4,5,1,9,3,"26432,822265625",-13,2
2,11,"48,9000015258789",3,1,2,1,4,1,0,1,2,"28721,849609375",-13,1
3,11,"51,7000007629395",3,1,2,1,4,2,1,3,3,"26432,822265625",-13,2
4,11,"59,7000007629395",5,6,1,3,2,3,1,1,4,"9167,8212890625",-13,4

### 1. Czyszczenie danych

In [6]:
data = data[data['wave'] == 8]

In [7]:
data = data[data['country'].isin([15, 29])]

In [8]:
data["thinc_m"] = data["thinc_m"].str.replace(",", ".")
data["age"] = data["age"].str.replace(",", ".")
data["age"] = data["age"].astype(float)
data["thinc_m"] = data["thinc_m"].astype(float)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4985 entries, 207816 to 425272
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        4985 non-null   int64
 1   age            4985 non-null   float64
 2   isced1997_r    4985 non-null   int64
 3   mar_stat       4985 non-null   int64
 4   hhsize         4985 non-null   int64
 5   partnerinhh    4985 non-null   int64
 6   ch001_         4985 non-null   int64
 7   sphus          4985 non-null   int64
 8   chronic_mod    4985 non-null   int64
 9   eurod          4985 non-null   int64
 10  co007_         4985 non-null   int64
 11  thinc_m        4985 non-null   float64
 12  income_pct_w8  4985 non-null   int64
 13  wave           4985 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 584.2 KB

In [10]:
data = data.drop(columns=['country'])

In [11]:
data[data < 0] = np.nan

In [12]:
data = data.dropna()

In [14]:
data.shape

(4539, 13)

### 2. Feature Engineering

In [16]:
data.columns

Index(['age', 'isced1997_r', 'mar_stat', 'hhsize', 'partnerinhh', 'ch001_',
       'sphus', 'chronic_mod', 'eurod', 'co007_', 'thinc_m', 'income_pct_w8',
       'wave'],
      dtype='object')

### 3. Modelowanie

In [19]:
X = data[['age', 'isced1997_r', 'mar_stat', 'hhsize', 'partnerinhh', 'ch001_',
       'sphus', 'chronic_mod', 'eurod', 'thinc_m', 'income_pct_w8',
       'wave']]
y = data['co007_']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
xgb = XGBRegressor()
xgb.fit(X_train, y_train,
        eval_set = [(X_train, y_train), (X_test, y_test)],
        verbose = True)
xgb_pred = xgb.predict(X_test)

[0]	validation_0-rmse:0.83031	validation_1-rmse:0.84851
[1]	validation_0-rmse:0.77954	validation_1-rmse:0.81050
[2]	validation_0-rmse:0.74665	validation_1-rmse:0.78881
[3]	validation_0-rmse:0.72330	validation_1-rmse:0.77507
[4]	validation_0-rmse:0.70783	validation_1-rmse:0.76980
[5]	validation_0-rmse:0.69295	validation_1-rmse:0.76431
[6]	validation_0-rmse:0.68453	validation_1-rmse:0.76020
[7]	validation_0-rmse:0.67908	validation_1-rmse:0.76062
[8]	validation_0-rmse:0.66760	validation_1-rmse:0.75883
[9]	validation_0-rmse:0.66278	validation_1-rmse:0.75879
[10]	validation_0-rmse:0.65449	validation_1-rmse:0.75877
[11]	validation_0-rmse:0.65283	validation_1-rmse:0.75848
[12]	validation_0-rmse:0.64518	validation_1-rmse:0.75750
[13]	validation_0-rmse:0.64273	validation_1-rmse:0.75684
[14]	validation_0-rmse:0.63799	validation_1-rmse:0.75834
[15]	validation_0-rmse:0.63683	validation_1-rmse:0.75967
[16]	validation_0-rmse:0.62799	validation_1-rmse:0.75895
[17]	validation_0-rmse:0.62254	validation_1-rmse:0.75895
[18]	validation_0-rmse:0.61489	validation_1-rmse:0.75875
[19]	validation_0-rmse:0.60961	validation_1-rmse:0.75962
[20]	validation_0-rmse:0.60274	validation_1-rmse:0.75834
[21]	validation_0-rmse:0.59658	validation_1-rmse:0.76057
[22]	validation_0-rmse:0.59264	validation_1-rmse:0.76053
[23]	validation_0-rmse:0.59038	validation_1-rmse:0.76108
[24]	validation_0-rmse:0.58993	validation_1-rmse:0.76093
[25]	validation_0-rmse:0.58533	validation_1-rmse:0.76088
[26]	validation_0-rmse:0.58302	validation_1-rmse:0.76072
[27]	validation_0-rmse:0.57749	validation_1-rmse:0.76157
[28]	validation_0-rmse:0.57277	validation_1-rmse:0.76163
[29]	validation_0-rmse:0.56609	validation_1-rmse:0.76060
[30]	validation_0-rmse:0.56068	validation_1-rmse:0.76195
[31]	validation_0-rmse:0.55826	validation_1-rmse:0.76119
[32]	validation_0-rmse:0.55213	validation_1-rmse:0.76156
[33]	validation_0-rmse:0.54911	validation_1-rmse:0.76196
[34]	validation_0-rmse:0.54145	validation_1-rmse:0.76412
[35]	validation_0-rmse:0.53693	validation_1-rmse:0.76367
[36]	validation_0-rmse:0.53517	validation_1-rmse:0.76410
[37]	validation_0-rmse:0.52925	validation_1-rmse:0.76527
[38]	validation_0-rmse:0.52704	validation_1-rmse:0.76614
[39]	validation_0-rmse:0.52145	validation_1-rmse:0.76486
[40]	validation_0-rmse:0.51717	validation_1-rmse:0.76475
[41]	validation_0-rmse:0.51416	validation_1-rmse:0.76288
[42]	validation_0-rmse:0.51231	validation_1-rmse:0.76375
[43]	validation_0-rmse:0.50888	validation_1-rmse:0.76287
[44]	validation_0-rmse:0.50703	validation_1-rmse:0.76311
[45]	validation_0-rmse:0.50319	validation_1-rmse:0.76300
[46]	validation_0-rmse:0.50274	validation_1-rmse:0.76335
[47]	validation_0-rmse:0.49853	validation_1-rmse:0.76126
[48]	validation_0-rmse:0.49503	validation_1-rmse:0.75969
[49]	validation_0-rmse:0.49268	validation_1-rmse:0.76044
[50]	validation_0-rmse:0.48802	validation_1-rmse:0.76212
[51]	validation_0-rmse:0.48287	validation_1-rmse:0.76134
[52]	validation_0-rmse:0.47691	validation_1-rmse:0.76288
[53]	validation_0-rmse:0.47527	validation_1-rmse:0.76265
[54]	validation_0-rmse:0.47149	validation_1-rmse:0.76200
[55]	validation_0-rmse:0.46498	validation_1-rmse:0.76186
[56]	validation_0-rmse:0.46264	validation_1-rmse:0.76111
[57]	validation_0-rmse:0.45887	validation_1-rmse:0.76314
[58]	validation_0-rmse:0.45753	validation_1-rmse:0.76292
[59]	validation_0-rmse:0.45186	validation_1-rmse:0.76290
[60]	validation_0-rmse:0.44617	validation_1-rmse:0.76163
[61]	validation_0-rmse:0.44180	validation_1-rmse:0.76399
[62]	validation_0-rmse:0.43873	validation_1-rmse:0.76390
[63]	validation_0-rmse:0.43718	validation_1-rmse:0.76425
[64]	validation_0-rmse:0.43372	validation_1-rmse:0.76318
[65]	validation_0-rmse:0.42923	validation_1-rmse:0.76278
[66]	validation_0-rmse:0.42480	validation_1-rmse:0.76249
[67]	validation_0-rmse:0.42439	validation_1-rmse:0.76266
[68]	validation_0-rmse:0.42160	validation_1-rmse:0.76180
[69]	validation_0-rmse:0.41784	validation_1-rmse:0.76198
[70]	validation_0-rmse:0.41389	validation_1-rmse:0.76321
[71]	validation_0-rmse:0.41153	validation_1-rmse:0.76370
[72]	validation_0-rmse:0.40969	validation_1-rmse:0.76529
[73]	validation_0-rmse:0.40877	validation_1-rmse:0.76555
[74]	validation_0-rmse:0.40766	validation_1-rmse:0.76621
[75]	validation_0-rmse:0.40418	validation_1-rmse:0.76703
[76]	validation_0-rmse:0.40069	validation_1-rmse:0.76763
[77]	validation_0-rmse:0.39864	validation_1-rmse:0.76831
[78]	validation_0-rmse:0.39460	validation_1-rmse:0.76853
[79]	validation_0-rmse:0.39256	validation_1-rmse:0.76959
[80]	validation_0-rmse:0.39141	validation_1-rmse:0.77011
[81]	validation_0-rmse:0.39066	validation_1-rmse:0.77042
[82]	validation_0-rmse:0.38665	validation_1-rmse:0.76907
[83]	validation_0-rmse:0.38251	validation_1-rmse:0.77000
[84]	validation_0-rmse:0.38134	validation_1-rmse:0.77006
[85]	validation_0-rmse:0.37658	validation_1-rmse:0.77075
[86]	validation_0-rmse:0.37302	validation_1-rmse:0.77057
[87]	validation_0-rmse:0.37115	validation_1-rmse:0.77091
[88]	validation_0-rmse:0.36987	validation_1-rmse:0.77033
[89]	validation_0-rmse:0.36786	validation_1-rmse:0.77109
[90]	validation_0-rmse:0.36410	validation_1-rmse:0.77073
[91]	validation_0-rmse:0.36027	validation_1-rmse:0.77014
[92]	validation_0-rmse:0.35840	validation_1-rmse:0.77037
[93]	validation_0-rmse:0.35664	validation_1-rmse:0.77073
[94]	validation_0-rmse:0.35491	validation_1-rmse:0.77028
[95]	validation_0-rmse:0.35323	validation_1-rmse:0.76996
[96]	validation_0-rmse:0.35009	validation_1-rmse:0.76971
[97]	validation_0-rmse:0.34826	validation_1-rmse:0.77010
[98]	validation_0-rmse:0.34544	validation_1-rmse:0.77024
[99]	validation_0-rmse:0.34439	validation_1-rmse:0.77059

In [25]:
np.sqrt(metrics.r2_score(y_test,xgb_pred))

0.5473241863400556